{% extends "MovieClipApp/base.html" %}

{% load static %}

{% block contenidoCambiante %}
    <p>Peliculas para reservar</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Consultar</button>
    </form>

    {% if mensaje %}

        <p>{{ mensaje }}</p>

    {% elif informacion_pelicula %}

        <h2>Información de la película:</h2>
        <p>Sinopsis: {{ informacion_pelicula.sinopsis }}</p>
        <p>Director: {{ informacion_pelicula.pais }}</p>
        <p>Duración: {{ informacion_pelicula.duracion }}</p>
        <p>Fecha de estreno: {{ informacion_pelicula.fecha_estreno }}</p>
        
    {% endif %}

{% endblock %}